aiofiles
annotated-types
anyio
asttokens
Brotli
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
decorator
executing
fastapi
ffmpy
filelock
fonttools
fsspec
gradio
gradio_client
groovy
h11
h5py
hf-xet
httpcore
httpx
huggingface-hub
idna
imbalanced-learn
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
kagglehub
kiwisolver
llvmlite
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
numba
numpy
orjson
packaging
pandas
parso
pexpect
pillow
prompt_toolkit
ptyprocess
pure_eval
pyaml
pydantic
pydantic_core
pydub
Pygments
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
python-dateutil
python-multipart
pytz
PyYAML
requests
rich
ruff
safehttpx
scikit-learn
scikit-optimize
scipy
seaborn
semantic-version
shap
shellingham
six
sklearn-compat
slicer
sniffio
stack-data
starlette
threadpoolctl
tomlkit
tqdm
traitlets
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
websockets
